<!DOCTYPE html>
<html>
<head>
	<title>whether search</title>
	<link rel="stylesheet" type="text/css" href="search.css">
	<link href="https://fonts.googleapis.com/css?family=Flamenco&display=swap" rel="stylesheet">
	 <script src="https://kit.fontawesome.com/yourcode.js"></script>
</head>
<body>


   <header>
  

     <h1 id="head">WEATHER FORECASTING</h1>
     <hr>
    

     <div class="main_contain_header">
         

         	

    <form action="/result" method="GET">
    	<h1 id="head1"> search city </h1>

      	<input type="text" placeholder="ENTER CITY" name="city" id="text" required><br><br>
      	<input type="submit" id="submit">
	</form>
      
      
      
     </div>
     <label>PROJECT BY :- SHAILESH . J . JENEKAR</label>
   </header>

   


</body>
</html>




